# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflowadmin
POSTGRES_DB=airflow

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=
AIRFLOW_JWT_SECRET=

# BookStack
# BookStack — usado pelo Airflow pra chamar a API
BOOKSTACK_URL=http://bookstack:80
BOOKSTACK_APP_URL=http://bookstack.localhost
BOOKSTACK_APP_KEY=

DB_BOOKSTACK_HOST=mariadb_service
DB_BOOKSTACK_USER=admin
DB_BOOKSTACK_PASSWORD=senha-forte-123
DB_BOOKSTACK_DATABASE=bookstack_service

# MariaDB
MARIADB_HOST=mariadb_service
MYSQL_USER=admin
MYSQL_PASSWORD=senha-forte-123
MYSQL_ROOT_PASSWORD=

# Neo4j
DB_NEO4J_URI=bolt://neo4j:7687
DB_NEO4J_USER=neo4j
DB_NEO4J_PASSWORD=senha-forte-neo4j-123


# Proxy (preencha caso tenha de passar por um proxy)
#HTTP_PROXY=
#HTTPS_PROXY=
#NO_PROXY=localhost,127.0.0.1,.local