BOOKSTACK_APP_URL=http://bookstack.localhost
BOOKSTACK_APP_KEY=
BOOKSTACK_URL=http://bookstack.localhost

DB_BOOKSTACK_HOST=mariadb_service
DB_BOOKSTACK_USER=admin
DB_BOOKSTACK_PASSWORD=senha-forte-123
DB_BOOKSTACK_DATABASE=bookstack_service
