AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow_forte_123
AIRFLOW_DB_NAME=airflow

AIRFLOW_UID=50000

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin_forte_123
AIRFLOW_ADMIN_EMAIL=admin@example.com

AIRFLOW_FERNET_KEY=COLOQUE_AQUI_UMA_CHAVE_FERNET
AIRFLOW_WEBSERVER_SECRET_KEY=COLOQUE_AQUI_UMA_SECRET_KEY